@import '../../scss/variables.scss';

.categories {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-name {
            width: 50%;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            color: $main-clr;
            align-self: flex-end;
            text-transform: uppercase;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}