@import '../../scss/variables.scss';

.categories {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-name {
            width: 50%;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            color: $main-clr;
            align-self: flex-end;
            text-transform: uppercase;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .item {
        background-color: rgba(255, 255, 255, 0.5);
        width: calc(33.3333% - 7px);
        color: $sec-clr;
        border-top-left-radius: 25px;
        transition: transform 0.5s ease;

        &__header {
            display: flex;
            justify-content: space-between;
            padding: 10px 10px 10px 20px;
        }

        &__number {
            font-size: 36px;
            font-weight: 700;
        }

        &__score {
            font-size: 18px;
        }

        &__picture {
            img {
                filter: grayscale(1);
                width: 100%;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}