.game {
  padding: 15px 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__logo {
    grid-column: 1 / 1;
    max-width: 100px;
  }

  &__settings-btn {
    grid-column: 3 / 3;
    justify-self: end;
    align-self: start;
  }

  &__question {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;

    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: $main-clr;
    text-transform: uppercase;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__header {
    max-width: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @media (max-width: 500px) {
      grid-template-columns: 1fr 1fr;

      .game__settings-btn {
        grid-row: 1;
        grid-column: 2 / -1;
      }
    }

    &.game__header--with-timer {
      @media (max-width: 500px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;

        .game__header__countdown-timer {
          grid-row: 2;
          grid-column: 1 / -1;
          justify-self: center;
          align-self: center;
        }

        .game__question {
          grid-row: 3;
          grid-column: 1 / -1;
          justify-self: center;
          align-self: center;
        }
      }
    }
  }

  &__picture {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 15px #000000;
    position: relative;
    max-width: 700px;
    aspect-ratio: 1000 / 850;
    width: 100%;
    img {
      width: 100%;
    }

    @media (max-width: 500px) {
      aspect-ratio: 1 / 1;
    }
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    aspect-ratio: 1/1;
    max-width: 700px;
    width: 100%;

    &__item {
      aspect-ratio: 1/1;
      width: calc(50% - 7.5px);
      border-radius: 15px;
      overflow: hidden;
      transition: all 0.5s ease;
      cursor: pointer;

      img {
        width: 100%;
      }

      &:hover,
      &:focus {
        @media (hover: hover) {
          box-shadow: 2px 2px 15px #000000;
        }
      }

      &:active {
        @media (hover: none) {
          box-shadow: 2px 2px 15px #000000;
        }
      }
    }
  }

  .pagination {
    position: absolute;
    display: flex;

    bottom: 10px;
    height: 20px;
    justify-content: space-around;
    left: 25%;
    width: 50%;

    &__item {
      border: 1px solid #000;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      background-color: rgba($color: $bg-clr, $alpha: 0.9);

      &--correct {
        background-color: rgba($color: $crct-clr, $alpha: 0.9);
      }

      &--wrong {
        background-color: rgba($color: $wrng-clr, $alpha: 0.9);
      }
    }
  }

  &__answers {
    max-width: 700px;
    width: 100%;

    .answers {
      &--wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }

      &__answer:first-of-type {
        border-bottom: 1px solid $main-clr;
        border-right: 1px solid $main-clr;
        justify-self: end;
      }

      &__answer:nth-of-type(2) {
        border-bottom: 1px solid $main-clr;
        border-left: 1px solid $main-clr;
      }

      &__answer:nth-of-type(3) {
        border-right: 1px solid $main-clr;
        border-top: 1px solid $main-clr;
        justify-self: end;
      }

      &__answer:nth-of-type(4) {
        border-left: 1px solid $main-clr;
        border-top: 1px solid $main-clr;
      }

      &__answer {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        color: $main-clr;
        background-color: rgba($color: $thrd-clr, $alpha: 0.3);
        cursor: pointer;
        transition: all 0.5s ease;

        @media (max-width: 500px) {
          font-size: 18px;
          width: 100%;
        }

        @media (max-width: 400px) {
          font-size: 16px;
        }

        &:hover,
        &:focus {
          @media (hover: hover) {
            background-color: $sec-clr;
            color: $thrd-clr;
          }
        }

        &:active {
          @media (hover: none) {
            background-color: $sec-clr;
            color: $thrd-clr;
          }
        }

        &--correct {
          background-color: rgba($color: $crct-clr, $alpha: 0.5);
          color: $thrd-clr;
        }

        &--wrong {
          background-color: rgba($color: $wrng-clr, $alpha: 0.5);
          color: $thrd-clr;
        }
      }
    }
  }
}

.countdown-timer {
  flex: 0 0 150px;
  height: 100%;
  align-self: center;
  font-size: 45px;
  font-weight: 700;
  color: $main-clr;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    font-size: 30px;
  }
}
