html {
  font-size: 18px;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: $bg-clr;
}

.root {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 10px;
}

.btn {
  display: block;
  background-color: #660033;
  min-width: 200px;
  min-height: 50px;
  padding: 2px 5px;
  color: $thrd-clr;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  &--settings {
    position: relative;
    padding: 2px 5px 2px 55px;
    &::before {
      content: '';
      position: absolute;
      top: 2.5px;
      left: 5px;
      display: block;
      width: 45px;
      height: 45px;
      background: url('/assets/icons/settings-icon.svg') center/45px 45px no-repeat;
      transition: transform 2s;
    }

    &:hover::before {
      transform: rotate(180deg);
    }
  }

  &--home {
    position: relative;
    padding: 2px 5px 2px 55px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      width: 45px;
      height: 45px;
      background: url('/assets/icons/home-icon.svg') center/45px 45px no-repeat;
    }
  }

  &--categories {
    position: relative;
    padding: 2px 5px 2px 55px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      background: url('/assets/icons/categories-icon.svg') center/35px 35px no-repeat;
    }
  }
}
