.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  padding: 15px 0px;
  text-transform: uppercase;
  min-height: 100vh;

  &__header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 30px;
    align-items: center;
    justify-items: center;
    width: 100%;

    @media (max-width: 450px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: end;
      justify-items: center;
    }
  }

  &__logo {
    @media (max-width: 450px) {
      justify-self: start;
    }
  }

  // .settings__title
  &__title {
    font-size: 36px;
    font-weight: 700;
    color: $main-clr;

    @media (max-width: 450px) {
      font-size: 30px;
      justify-self: end;
    }
  }
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  gap: calc(18% + 10px);
  max-width: 100%;
  width: 100%;

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 15px;
  }

  &__item {
    max-width: 415px;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #000;
    background: $thrd-clr;
    padding: 30px 10px;
    align-items: center;

    @media (max-width: 850px) {
      aspect-ratio: 500 / 360;
      padding: 10px;
    }
  }

  // .menu__icon
  &__icon {
    max-width: 100px;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 15px;

    @media (max-width: 850px) {
      max-width: 70px;
      margin-bottom: 0px;
    }

    &--volume {
      background: url('../assets/icons/volume-icon.svg') center/contain no-repeat;
    }

    &--time {
      background: url('../assets/icons/time-icon.svg') center/contain no-repeat;
    }
  }

  // .menu__title
  &__title {
    font-weight: 700;
    font-size: 36px;
    color: $sec-clr;

    @media (max-width: 850px) {
      font-size: 30px;
    }
  }

  &__input-wrapper {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time-value {
    font-size: 36px;
    font-weight: 600;
    color: $sec-clr;
  }

  &__progress {
    -webkit-appearance: none;
    background: linear-gradient(90deg, $sec-clr 0, $sec-clr 50%, #e5e5e5 0, #e5e5e5);
    border: 1px solid $sec-clr;
    border-radius: 5px;
    cursor: pointer;
    height: 6px;
    outline: none;
    transition: all 0.45s ease-in;

    max-width: 240px;
    width: 100%;
    // margin-right: 10px;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.3;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: $sec-clr;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: ew-resize;
      height: 15px;
      width: 15px;
    }
  }
}

.checkbox {
  &__label {
    display: block;
    cursor: pointer;
    border: 2px solid $sec-clr;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    transition: box-shadow 0.3s ease;

    @media (max-width: 850px) {
      width: 25px;
      height: 25px;
    }

    &:hover {
      box-shadow: -1px 1px 9px 3px rgba($sec-clr, 0.25);
    }
  }

  &__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:checked + label {
      background: url('../assets/icons/checkbox-mark-icon.svg') center/contain no-repeat;
    }
  }
}
