.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 15px 0px;
  text-transform: uppercase;
  min-height: calc(100vh - 30px);

  // .settings__title
  &__title {
    font-size: 36px;
    font-weight: 500;
    color: $main-clr;
    margin-bottom: 30px;
  }

  // .settings__menu
  &__menu {
    width: 100%;
    margin-bottom: 30px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #000;
    background: $thrd-clr;
    padding: 30px 10px;
    align-items: center;
    max-width: calc(50% - 50px);
    width: 100%;
    aspect-ratio: 1/1;
  }

  // .menu__icon
  &__icon {
    max-width: 100px;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 15px;

    &--volume {
      background: url('../assets/icons/volume-icon.svg') center/contain no-repeat;
    }

    &--time {
      background: url('../assets/icons/time-icon.svg') center/contain no-repeat;
    }
  }

  // .menu__title
  &__title {
    font-weight: 700;
    font-size: 36px;
    color: $sec-clr;
  }

  &__progress {
    -webkit-appearance: none;
    background: linear-gradient(90deg, dimgray 0, dimgray 50%, #e5e5e5 0, #e5e5e5);
    border: 1px solid dimgray;
    border-radius: 5px;
    cursor: pointer;
    height: 6px;
    outline: none;
    transition: all 0.45s ease-in;

    max-width: 270px;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.3;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: dimgray;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: ew-resize;
      height: 15px;
      width: 15px;
    }
  }

  &__checkbox {
    width: 30px;
    height: 30px;
  }
}
