@import '../../scss/variables.scss'; 

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.quiz-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__btn {
        max-width: 350px;
        display: block;
        position: relative;
        transition: box-shadow 1s ease;

        img {
            width: 100%;
        }

        &:hover {
            box-shadow: 5px 5px 35px rgba(0, 0, 0, .78);
        }

        &-title {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: 10px;
            padding-right: 5px;
            font-size: 36px;
            text-align: right;
            text-transform: uppercase;
            color: $main-clr;
            background: rgba(255, 255, 255, 0.75);

            span {
                font-weight: 700;
            }
        }
    }
}