.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.quiz-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__btn {
        max-width: 350px;
        display: block;
        position: relative;
        transition: box-shadow 1s ease;

        img {
            width: 100%;
        }

        &:hover {
            box-shadow: 5px 5px 35px rgba(0, 0, 0, .78);
        }

        &-title {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: 10px;
            padding-right: 5px;
            font-size: 36px;
            text-align: right;
            text-transform: uppercase;
            color: #660033;
            background: rgba(255, 255, 255, 0.75);

            span {
                font-weight: 700;
            }
        }
    }
}

.settings-btn {
    display: block;
    background-color: #660033;
    width: 150px;
    height: 50px;
    padding: 2px 7px 2px 3px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, .7);
    transition: box-shadow 0.5s ease;

    &:hover {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
        img {
            transform: rotate(180deg);
        }
    }

    img {
        transition: transform 2s;
    }
}